****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
## import pandas, json & normalize
import pandas as pd
import json
from pandas.io.json import json_normalize

****

Find the 10 countries with most projects

****

In [2]:
# Load JSON as pandas dataframe
world_bank_proj_df = pd.read_json('data/world_bank_projects.json')

#analyse the dataframe : world_bank_proj_df
print(world_bank_proj_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB
None

In [3]:
## Examin the dataframe by printing first 20 entries
print(world_bank_proj_df.head(20))

                                     _id  approvalfy board_approval_month  \
0   {'$oid': '52b213b38594d8a2be17c780'}        1999             November
1   {'$oid': '52b213b38594d8a2be17c781'}        2015             November
2   {'$oid': '52b213b38594d8a2be17c782'}        2014             November
3   {'$oid': '52b213b38594d8a2be17c783'}        2014              October
4   {'$oid': '52b213b38594d8a2be17c784'}        2014              October
5   {'$oid': '52b213b38594d8a2be17c785'}        2014              October
6   {'$oid': '52b213b38594d8a2be17c786'}        2014              October
7   {'$oid': '52b213b38594d8a2be17c787'}        2014              October
8   {'$oid': '52b213b38594d8a2be17c788'}        2014              October
9   {'$oid': '52b213b38594d8a2be17c789'}        2014              October
10  {'$oid': '52b213b38594d8a2be17c78a'}        2014              October
11  {'$oid': '52b213b38594d8a2be17c78b'}        2014              October
12  {'$oid': '52b213b38594d8a2be17c78c'}        2014              October
13  {'$oid': '52b213b38594d8a2be17c78d'}        2014              October
14  {'$oid': '52b213b38594d8a2be17c78e'}        2014              October
15  {'$oid': '52b213b38594d8a2be17c78f'}        2014              October
16  {'$oid': '52b213b38594d8a2be17c790'}        2014              October
17  {'$oid': '52b213b38594d8a2be17c791'}        2014              October
18  {'$oid': '52b213b38594d8a2be17c792'}        2014              October
19  {'$oid': '52b213b38594d8a2be17c793'}        2014              October

       boardapprovaldate                                 borrower  \
0   2013-11-12T00:00:00Z  FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA
1   2013-11-04T00:00:00Z                    GOVERNMENT OF TUNISIA
2   2013-11-01T00:00:00Z   MINISTRY OF FINANCE AND ECONOMIC DEVEL
3   2013-10-31T00:00:00Z   MIN. OF PLANNING AND INT'L COOPERATION
4   2013-10-31T00:00:00Z                      MINISTRY OF FINANCE
5   2013-10-31T00:00:00Z                        REPUBLIC OF KENYA
6   2013-10-29T00:00:00Z                      GOVERNMENT OF INDIA
7   2013-10-29T00:00:00Z               PEOPLE'S REPUBLIC OF CHINA
8   2013-10-29T00:00:00Z                  THE GOVERNMENT OF INDIA
9   2013-10-29T00:00:00Z                   THE KINGDOM OF MOROCCO
10  2013-10-25T00:00:00Z                GOVERNMENT OF SOUTH SUDAN
11  2013-10-25T00:00:00Z                                      NaN
12  2013-10-24T00:00:00Z                      GOVERNMENT OF GHANA
13  2013-10-22T00:00:00Z                GOVERNMENT OF TIMOR LESTE
14  2013-10-22T00:00:00Z                     GOVERNMENT OF JORDAN
15  2013-10-17T00:00:00Z                      MINISTRY OF FINANCE
16  2013-10-17T00:00:00Z                      MINISTRY OF FINANCE
17  2013-10-16T00:00:00Z     MINISTRY OF FINANCE AND BUDGET (MFB)
18  2013-10-16T00:00:00Z             ROYAL GOVERNMENT OF CAMBODIA
19  2013-10-10T00:00:00Z                      MINISTRY OF FINANCE

             closingdate                              country_namecode  \
0   2018-07-07T00:00:00Z  Federal Democratic Republic of Ethiopia!$!ET
1                    NaN                      Republic of Tunisia!$!TN
2                    NaN                                   Tuvalu!$!TV
3                    NaN                        Republic of Yemen!$!RY
4   2019-04-30T00:00:00Z                       Kingdom of Lesotho!$!LS
5                    NaN                        Republic of Kenya!$!KE
6   2019-06-30T00:00:00Z                        Republic of India!$!IN
7                    NaN               People's Republic of China!$!CN
8   2018-12-31T00:00:00Z                        Republic of India!$!IN
9   2014-12-31T00:00:00Z                       Kingdom of Morocco!$!MA
10                   NaN                  Republic of South Sudan!$!SS
11  2017-12-31T00:00:00Z                        Republic of India!$!IN
12  2019-06-30T00:00:00Z                        Republic of Ghana!$!GH
13                   NaN       Democratic Republic of Timor-Leste!$!TP
14                   NaN              Hashemite Kingdom of Jordan!$!JO
15  2019-04-30T00:00:00Z                                    Samoa!$!WS
16  2015-12-31T00:00:00Z                                    Samoa!$!WS
17                   NaN                   Republic of Madagascar!$!MG
18                   NaN                      Kingdom of Cambodia!$!KH
19                   NaN                       Kingdom of Morocco!$!MA

   countrycode                              countryname    countryshortname  \
0           ET  Federal Democratic Republic of Ethiopia            Ethiopia
1           TN                      Republic of Tunisia             Tunisia
2           TV                                   Tuvalu              Tuvalu
3           RY                        Republic of Yemen  Yemen, Republic of
4           LS                       Kingdom of Lesotho             Lesotho
5           KE                        Republic of Kenya               Kenya
6           IN                        Republic of India               India
7           CN               People's Republic of China               China
8           IN                        Republic of India               India
9           MA                       Kingdom of Morocco             Morocco
10          SS                  Republic of South Sudan         South Sudan
11          IN                        Republic of India               India
12          GH                        Republic of Ghana               Ghana
13          TP       Democratic Republic of Timor-Leste         Timor-Leste
14          JO              Hashemite Kingdom of Jordan              Jordan
15          WS                                    Samoa               Samoa
16          WS                                    Samoa               Samoa
17          MG                   Republic of Madagascar          Madagascar
18          KH                      Kingdom of Cambodia            Cambodia
19          MA                       Kingdom of Morocco             Morocco

                          ...                              sectorcode source  \
0                         ...                             ET,BS,ES,EP   IBRD
1                         ...                                   BZ,BS   IBRD
2                         ...                                      TI   IBRD
3                         ...                                      JB   IBRD
4                         ...                                FH,YW,YZ   IBRD
5                         ...                                      JB   IBRD
6                         ...                                      TI   IBRD
7                         ...                                      LR   IBRD
8                         ...                                      TI   IBRD
9                         ...                                BM,BC,BZ   IBRD
10                        ...                                AZ,JB,AH   IBRD
11                        ...                             JB,YC,WD,TI   IBRD
12                        ...                                      CZ   IBRD
13                        ...                                   BV,TI   IBRD
14                        ...                                      JB   IBRD
15                        ...                                      TI   IBRD
16                        ...                                AZ,AJ,AH   IBRD
17                        ...                                      EP   IBRD
18                        ...                          BK,JB,BH,BC,JA   IBRD
19                        ...                                BH,BC,BZ   IBRD

    status  supplementprojectflg  \
0   Active                     N
1   Active                     N
2   Active                     Y
3   Active                     N
4   Active                     N
5   Active                     Y
6   Active                     N
7   Active                     N
8   Active                     N
9   Active                     N
10  Active                     Y
11  Active                     N
12  Active                     N
13  Active                     Y
14  Active                     N
15  Active                     N
16  Active                     N
17  Active                     N
18  Active                     Y
19  Active                     N

                                               theme1  \
0       {'Percent': 100, 'Name': 'Education for all'}
1   {'Percent': 30, 'Name': 'Other economic manage...
2     {'Percent': 46, 'Name': 'Regional integration'}
3   {'Percent': 50, 'Name': 'Participation and civ...
4   {'Percent': 30, 'Name': 'Export development an...
5      {'Percent': 100, 'Name': 'Social safety nets'}
6   {'Percent': 20, 'Name': 'Administrative and ci...
7          {'Percent': 100, 'Name': 'Climate change'}
8   {'Percent': 87, 'Name': 'Other rural developme...
9   {'Percent': 33, 'Name': 'Other accountability/...
10  {'Percent': 100, 'Name': 'Global food crisis r...
11  {'Percent': 60, 'Name': 'Rural services and in...
12                         {'Percent': 0, 'Name': ''}
13    {'Percent': 20, 'Name': 'Regional integration'}
14      {'Percent': 50, 'Name': 'Social safety nets'}
15  {'Percent': 60, 'Name': 'Rural services and in...
16  {'Percent': 100, 'Name': 'Other rural developm...
17      {'Percent': 100, 'Name': 'Education for all'}
18            {'Percent': 17, 'Name': 'Child health'}
19  {'Percent': 40, 'Name': 'Public expenditure, f...

                                       theme_namecode       themecode  \
0       [{'code': '65', 'name': 'Education for all'}]              65
1   [{'code': '24', 'name': 'Other economic manage...           54,24
2   [{'code': '47', 'name': 'Regional integration'...     52,81,25,47
3   [{'code': '57', 'name': 'Participation and civ...           59,57
4   [{'code': '45', 'name': 'Export development an...           41,45
5      [{'code': '54', 'name': 'Social safety nets'}]              54
6   [{'code': '25', 'name': 'Administrative and ci...           39,25
7          [{'code': '81', 'name': 'Climate change'}]              81
8   [{'code': '79', 'name': 'Other rural developme...              79
9   [{'code': '29', 'name': 'Other accountability/...        27,30,29
10  [{'code': '91', 'name': 'Global food crisis re...              91
11  [{'code': '78', 'name': 'Rural services and in...     81,87,52,78
12                                                NaN             NaN
13  [{'code': '47', 'name': 'Regional integration'...        78,81,47
14  [{'code': '54', 'name': 'Social safety nets'},...        53,56,54
15  [{'code': '78', 'name': 'Rural services and in...        49,81,78
16  [{'code': '79', 'name': 'Other rural developme...              79
17      [{'code': '65', 'name': 'Education for all'}]              65
18  [{'code': '63', 'name': 'Child health'}, {'cod...  69,57,25,67,63
19  [{'code': '27', 'name': 'Public expenditure, f...        25,26,27

     totalamt totalcommamt                                                url
0   130000000    130000000  http://www.worldbank.org/projects/P129828/ethi...
1           0      4700000  http://www.worldbank.org/projects/P144674?lang=en
2     6060000      6060000  http://www.worldbank.org/projects/P145310?lang=en
3           0      1500000  http://www.worldbank.org/projects/P144665?lang=en
4    13100000     13100000  http://www.worldbank.org/projects/P144933/seco...
5    10000000     10000000  http://www.worldbank.org/projects/P146161?lang=en
6   500000000    500000000  http://www.worldbank.org/projects/P121185/firs...
7           0     27280000  http://www.worldbank.org/projects/P127033/chin...
8   160000000    160000000  http://www.worldbank.org/projects/P130164/raja...
9   200000000    200000000  http://www.worldbank.org/projects/P130903?lang=en
10          0      7530000  http://www.worldbank.org/projects/P145339?lang=en
11  250000000    250000000  http://www.worldbank.org/projects/P146653?lang=en
12   97000000     97000000  http://www.worldbank.org/projects/P144140/gh-e...
13   40000000     40000000  http://www.worldbank.org/projects/P130975/timo...
14          0      9500000  http://www.worldbank.org/projects/P144832?lang=en
15   20000000     20000000  http://www.worldbank.org/projects/P145545?lang=en
16    5000000      5000000  http://www.worldbank.org/projects/P145938?lang=en
17          0     85400000  http://www.worldbank.org/projects/P132616?lang=en
18          0     13450000  http://www.worldbank.org/projects/P146271?lang=en
19          0      4350000  http://www.worldbank.org/projects/P143979?lang=en

[20 rows x 50 columns]

In [4]:
## ensure countryname column has no NaN values
sum(pd.isnull(world_bank_proj_df['countryname']))

0

In [5]:
## Count the frequency for each country ...(Each row represents a project hence counting the frequency for each country gives us an indication of the projects by country)
country_count = world_bank_proj_df['countryname'].value_counts()

In [6]:
## print top 10 countries.. Bonus : 
print('10 Countries with the most projects:')
print(country_count.head(10))

10 Countries with the most projects:
Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

****
Find the top 10 major project themes (using column 'mjtheme_namecode')
****

In [7]:
# load json as string
json_data = json.load((open('data/world_bank_projects.json')))

In [8]:
# use normalization to create tables from nested element
df2 = json_normalize(json_data, 'mjtheme_namecode')

In [9]:
## verify the info of dataframe: df2
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 2 columns):
code    1499 non-null object
name    1499 non-null object
dtypes: object(2)
memory usage: 23.5+ KB
None

In [10]:
## Count the frequency of occurance for each prject theme
mj_prj_freq = df2['name'].value_counts()

In [11]:
## Print top 10 major project themes
print(mj_prj_freq.head(10))

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

****

In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

****

In [12]:
## Print df2
print(df2)

     code                                          name
0       8                             Human development
1      11
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8
18     10                             Rural development
19      7
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5
1482    6         Social protection and risk management
1483    8
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [25]:
## Initialize an empty dictionary
code_name_dict = {}

## iterate over the dataframe using itertuples() and update code_name_dict with unique nonnull values
for rows in df2.itertuples():
    if rows[2] != '':
        code_name_dict[rows[1]] = rows[2]

In [26]:
print(code_name_dict)

{'8': 'Human development', '1': 'Economic management', '6': 'Social protection and risk management', '5': 'Trade and integration', '2': 'Public sector governance', '11': 'Environment and natural resources management', '7': 'Social dev/gender/inclusion', '4': 'Financial and private sector development', '10': 'Rural development', '9': 'Urban development', '3': 'Rule of law'}

In [31]:
## Update missing values in dataframe df2
for rows in df2.itertuples():
    if rows[2] == '':
        df2.iat(rows[0],'name', code_name_dict[rows[1]])

In [32]:
##Print dataframe df2 with updated missing values
print(df2)

     code                                          name
0       8                             Human development
1      11  Environment and natural resources management
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6         Social protection and risk management
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8                             Human development
18     10                             Rural development
19      7                   Social dev/gender/inclusion
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2                      Public sector governance
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4      Financial and private sector development
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11  Environment and natural resources management
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5                         Trade and integration
1482    6         Social protection and risk management
1483    8                             Human development
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6         Social protection and risk management
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [35]:
## Print top 10 major project themes after updating missing values in 'name' column
print(df2['name'].value_counts().head(10))

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64